:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  height: 100vh;
  background: url('/img/tetriss.jpg') no-repeat center center/cover;
}

section {
  position: absolute;
  background: url('/img/tetris.jpg') no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  font-size: 48px;
  place-content: center;
  cursor: pointer;
}

#start-game {
  background: rgba(0, 0, 0, 0.5);
  padding: 1em 2em;
  border: 2px solid #fff;
  border-radius: 40px 0px 40px 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#start-game:hover {
  background: rgba(0, 0, 0, 0.7);
}

#start-game > img {
  width: 80px;
  margin-right: 10px;
}

strong {
  user-select: none;
  font-size: 25px;
}

strong span {
  color: rgb(64, 255, 0);
}

@media screen and (max-width: 600px) {
  #start-game {
    font-size: 1em;
  }

  section {
    background: url('/img/tetris.jpg') no-repeat center center/cover;
  }

}

.controles {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
  background-color: rgba(50, 66, 205, 0.19);
  padding: 2px;
  border-radius: 10px;
}

.controles div {
  display: flex;
  user-select: none;
  background: transparent;
}

#left img {
  width: 30px;
  rotate: -90deg;
  color: #fff;
  cursor: pointer;
}

#right img {
  width: 30px;
  rotate: 90deg;
  color: #fff;
  cursor: pointer;
}

#down img {
  width: 30px;
  rotate: 180deg;
  color: #fff;
  cursor: pointer;
}

#up img {
  width: 30px;
  color: #fff;
  cursor: pointer;
}

.ocultar-controles {
  display: none;
}